

.modal-menu-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 0;
    row-gap: 26px;
    
    padding: 16px 16px 32px 16px;

    @media (min-width: $screen-sm){
        padding-top: 24px;
    }

    @media (min-width: $screen-md){
        padding-left: 24px;
        padding-top: 24px;
        padding-right: 24px;
    }
}

@import "./modal-header/modal-header";
@import "./modal-nav/modal-nav";
@import "./modal-footer/modal-footer";