.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    @media(min-width: $screen-md){
        margin-bottom: 24px;
    }

    &-left{
        display: flex;
        align-items: center;
        column-gap: 16px;
    }

}