@import "./title/title"; /*Название страницы*/
@import "./nav-on-page/nav-on-page"; /*Навигация по странице*/

@import "./about/about"; /*Раздел "о нас"*/
@import "./sec-title/sec-title"; /*Названия секций*/
@import "./brands/brands"; /*Бренды*/
@import "./types-tech/types-tech"; /*Техника*/
@import "./prices/prices"; /*Цены*/


.main{
    min-height: 100%;

    &--back{
        background-color: $back-gray;
    }

    overflow: hidden;
}