.footer{
    display: flex;
    flex-direction: column;

    margin-bottom: 18px;
    height: 129px;

    @media (min-width: $screen-md){
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        height: 81px;

        padding-left: 24px;
        padding-right: 24px;

        margin-bottom: 20px;
    }

    @media (min-width: $screen-lg){
        margin-bottom: 16px;
        padding-left: 32px;
        padding-right: 32px;
        height: 65px;
    }

    &__item{
        display: flex;
        justify-content: center;

        padding-top: 16px;

        @media (min-width: $screen-md){
            padding-top: 32px;
            max-width: 218px;
            max-height: 48px;
        }

        @media (min-width: $screen-lg){
            padding-top: 16px;
            max-width: 330px;
            max-height: 40px;
        }

        &--style{
            color: $text-gray;
            text-align: center;
            font-size: $text-low;
            font-weight: 500;
            line-height: 16px; /* 114.286% */
            opacity: 0.7218;

            @media(min-width: $screen-md){
                &:first-child{
                    text-align: left;
                }
        
                &:last-child{
                    text-align: right;
                }
            }
        }



    }

    &--line{
        border-top: 1px solid $el-aquamarin;
        background-color: $back-white;
    }
}