.btn-submit{
    display: flex;
    justify-content: space-between;

    padding: 4px 8px 4px 12px; 
    
    width: 119px;
    height: 32px;

    &--style{
        border-radius: 16px;
        background: #FF3E79;
    }

    &__icon{
        width: 24px;
    }

    &__text{

        &--style{
            color: $back-white;
            text-align: right;
            font-size: 12px;
            font-weight: 700;
            line-height: 24px; /* 200% */
            letter-spacing: -0.15px;
            text-transform: uppercase;
        }
    }
}