
.header-right{

    &__item{
        display: flex;
        align-items: center;
        column-gap: 16px;
    }

    .main-buttons::before{
        content: "";
        position: relative;

        @extend %header-line;
    }
}
@import "./main-buttons/main-buttons";
@import "./add-buttons/add-buttons";
