$font-family: "TT Lakes", sans-serif;

$back-white: #FFF;
$back-gray: #FDFDFD;
$back-lightgray: #EAEAEA;

$el-aquamarin:#D9FFF5;
$el-aquamarin-main: #41F6D7;
$el-aquamarin-light: #B8FFEC;

$text-black: #1B1C21;
$text-gray: #7E7E82;

$pink: #FF3E79;

$text-main: 28px;
$text-middle: 16px;
$text-low: 14px;

$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1120px;
$screen-xl: 1366px;